@import "./_config";

.App {
  overflow-x: hidden;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  color: $pry-color-dark;
}

.actions {
  button.my-button {
    @extend .button;
    &:hover {
      @extend .button-inverse;
    }
  }
}

em {
  font-style: normal;
}
