@import "../_config";

.users {
    @include grid(1fr, auto, 4rem);
    & > div {
        width: 100%;
    }

    .heading {
        font-size: 30px;
        font-weight: bold;
    }
    .card-container {
        @include grid(repeat(4, 1fr), auto, 1.5rem);
        .each-card {
            &:nth-of-type(2) {
                .icon-container {
                    background: lighten(indigo, 65);
                    i {
                        color: indigo;
                    }
                }
            }
            &:nth-of-type(3) {
                .icon-container {
                    background: lighten(orange, 39);
                    i {
                        color: darken(orange, 10);
                    }
                }
            }
            &:nth-of-type(4) {
                .icon-container {
                    background: lighten(red, 45);
                    i {
                        color: darken(pink, 40);
                    }
                }
            }
        }
        @include media(max, 910px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .table-container {
        table {
            .th {
                display: flex;
                @include flex(center, flex-start, 15px, row);
                color: $pry-color-dark;
                position: relative;
                i {
                    cursor: pointer;
                }
            }
            td {
                color: rgba($pry-color-dark, 0.8);
            }
            .user-options-toogle-container {
                position: relative;
                & > i {
                    cursor: pointer;
                }
            }
            thead,
            tbody {
                @include media(max, 910px) {
                    display: table !important;
                    width: 100%;
                    tr {
                        display: block !important;
                        width: 100%;
                        border-bottom: 1px solid rgba(black, 0.1);
                        padding: 10px 5px;
                        th,
                        td {
                            display: block !important;
                            padding: 5px !important;
                            width: 100%;
                            border: none;
                            background: transparent;
                        }
                    }
                }
            }
        }
    }

    @include media(max, 910px) {
        @include flex(flex-start, flex-start, 4rem, column);
    }
}

.card {
    @extend .p-2;
    @include flex(flex-start, flex-start, 15px, column);
    width: 100%;
    box-shadow: 0px 0px 4px rgba(black, 0.1);
    background: $pry-color-light;
    border-radius: 5px;
    .icon-container {
        padding: 7px;
        border-radius: 50%;
        background: rgba($pry-color-dark, 0.2);
    }
    em {
        &:first-of-type {
            text-transform: uppercase;
            font-weight: bold;
            color: rgba($pry-color-dark, 0.6);
        }
        &:last-of-type {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.tag {
    padding: 7px 10px;
    border-radius: 30px;
    text-transform: capitalize;

    &.active {
        background-color: lighten(lightgreen, 20);
        color: green;
    }
    &.inactive {
        background-color: lighten(lightgrey, 10);
        color: darkgray;
    }
    &.pending {
        background-color: lighten(gold, 40);
        color: darken(gold, 10);
    }
    &.blacklisted {
        background-color: lighten(red, 45);
        color: red;
    }
}

.pagination {
    @include flex(center, space-between, 0, row);
    .total-container {
        p {
            word-spacing: 1px;
            em:first-of-type {
                padding: 7px 10px;
                border-radius: 5px;
                background: rgba($pry-color-dark, 0.2);
            }
        }
    }
    .paginate-container {
        @include flex(center, center, 5px, row);
        em {
            padding: 7px;
            border-radius: 3px;
            cursor: pointer;
            &:first-of-type,
            &:last-of-type {
                background: rgba($pry-color-dark, 0.1);
            }
            &:hover {
                background: rgba($pry-color-dark, 0.1);
            }
        }
    }
}

.filter {
    position: absolute;
    top: 2rem;
    border-radius: 10px;
    padding: 2rem 1.1rem;
    background-color: $pry-color-light;
    box-shadow: $box-shadow-light;
    max-width: 350px;
    overflow-x: auto;
    z-index: 1;
    &::-webkit-scrollbar {
        display: none;
    }
    .actions {
        @include flex(center, space-between, 0, row);
        button {
            &:first-of-type {
                border: 2px solid $pry-color-dark;
                background: transparent;
                color: $pry-color-dark;
                &:hover {
                    background: $pry-color-dark;
                    color: $pry-color-light;
                }
            }
            &:last-of-type {
                border: 2px solid $pry-color;
                background: $pry-color;
                color: $pry-color-light;
                &:hover {
                    background: $pry-color-light;
                    color: $pry-color;
                }
            }
        }
    }
}

.user-options {
    color: inherit;
    position: absolute;
    right: 0;
    padding: 5px;
    background-color: $pry-color-light;
    border-radius: 10px;
    box-shadow: $box-shadow-light;
    top: 3rem;
    z-index: 1;
    width: 150px;
    @include flex(center, center, 2px, column);
    &:hover {
        color: inherit;
    }
    .group {
        width: 100%;
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
            border-radius: 5px;
            background: rgba($pry-color-dark, 0.1);
        }
    }
    @include media(max, 910px) {
        left: 0;
        box-shadow: 0px 0px 10px rgba(black, 0.1);
    }
}

.user-details {
    width: 100%;
    @include flex(flex-start, flex-start, 2rem, column);
    & > div {
        width: 100%;
    }
    .back-link a {
        @include flex(center, flex-start, 10px, row);
        i,
        em {
            height: 100%;
        }
    }
    .heading {
        @include flex(center, space-between, 0, row);
        .actions {
            @include flex(center, center, 10px, row);

            button {
                letter-spacing: 2px;
                text-transform: uppercase;
                font-weight: bold;
                &:first-of-type {
                    border: 2px solid red;
                    color: red;
                    background: transparent;
                    &:hover {
                        color: white;
                        background: red;
                    }
                }
                &:last-of-type {
                    border: 2px solid $pry-color;
                    color: $pry-color;
                    background: transparent;
                    &:hover {
                        color: white;
                        background: $pry-color;
                    }
                }
            }
        }
    }
    .profile-head {
        @include flex(flex-start, flex-start, 0, column);
        background-color: $pry-color-light;
        border-radius: 5px;
        box-shadow: $box-shadow-light;
        & > div {
            width: 100%;
        }

        .profile-items {
            @include grid(auto auto 2fr, auto, 0);
            padding: 2.5rem;

            & > div {
                &:nth-of-type(1) {
                    padding: 0 2rem;
                    padding-left: 0;
                }
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    padding: 0 2rem;
                }
            }

            .details {
                @include flex(flex-start, center, 10px, column);
                em {
                    font-weight: bold;
                    &:first-of-type {
                        font-size: 22px;
                        line-height: 20px;
                    }
                    &:last-of-type {
                        color: rgba($pry-color-dark, 0.4);
                    }
                }
            }

            .profile {
                @include flex(center, flex-start, 1.2rem, row);
                .img-container {
                    img {
                        width: 120px;
                        height: 120px;
                        object-fit: cover;
                        object-position: top;
                        border-radius: 50%;
                    }
                }
            }

            .rating {
                border-left: 1px solid rgba($pry-color-dark, 0.2);
                border-right: 1px solid rgba($pry-color-dark, 0.2);
                // height: 100%;
                @include flex(center, center, 10px, column);
                font-size: 16px;
                font-weight: bold;
                color: rgba($pry-color-dark, 0.6);
            }
        }

        .menu-items {
            padding: 0;
            margin: 0;
            list-style-type: none;
            padding: 0 2rem;
            width: 100%;
            @include flex(center, space-between, 0, row);
            li {
                position: relative;
                margin-top: 2rem;
                width: 100%;
                a {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    padding: 10px 1.8rem;
                    font-size: 17px;
                    font-weight: bold;
                    color: darken(darkgray, 10);
                    text-align: center;
                    transition: 100ms;
                    &:hover {
                        color: $pry-color;
                        cursor: pointer;
                        border-bottom: 3px solid $pry-color;
                    }
                }
            }
        }
    }
    .profile-body {
        padding: 2rem;
        @include flex(flex-start, flex-start, 1rem, column);
        background-color: $pry-color-light;
        border-radius: 5px;
        box-shadow: $box-shadow-light;
        & > div {
            width: 100%;
        }
    }
    .profile-section {
        width: 100%;
        @include flex(flex-start, flex-start, 1rem, column);
        & > div {
            width: 100%;
        }
        h3 {
            text-transform: capitalize;
            color: rgba($pry-color-dark, 0.8);
        }
        .all-section {
            @include grid(repeat(5, 1fr), auto, 0);
            row-gap: 3rem;
            .each-section {
                @include flex(flex-start, center, 10px, column);
                em {
                    font-weight: bold;
                    &:first-of-type {
                        text-transform: uppercase;
                        color: rgba($pry-color-dark, 0.5);
                    }
                    &:last-of-type {
                        color: rgba($pry-color-dark, 0.6);
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
